@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
#containerTopo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.titulo {
    flex: 1;
    font-size: 40px;
    color: black;
    font-family: 'Titan One', cursive;
}

.buttonsDiv{
    margin: 10px;
}